<!--<ion-content>-->
<!--<ion-button (click)="toggleInfiniteScroll()" expand="block">
  Toggle Infinite Scroll
</ion-button>-->

<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <!--<ion-refresher-content
    pullingIcon="arrow-dropdown"
    refreshingSpinner="circles">-->
    <ion-refresher-content>
  </ion-refresher-content>
</ion-refresher>
<ion-row>
  <ion-col>
    <ion-item lines="none" class="ionItem">
      <ion-thumbnail slot="start" class="ionThumbnailCategory" [routerLink]="['/sing-pages/biz-item']">
        <ion-img src="assets/img/xqpt.png"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item lines="none" class="ionItem">
      <ion-thumbnail slot="start" class="ionThumbnailCategory" [routerLink]="['/sing-pages/biz-item']">
        <ion-img src="assets/img/jjmh.png"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item lines="none" class="ionItem">
      <ion-thumbnail slot="start" class="ionThumbnailCategory" [routerLink]="['/sing-pages/biz-item']">
        <ion-img src="assets/img/xxjs.png"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item lines="none" class="ionItem">
      <ion-thumbnail slot="start" class="ionThumbnailCategory" [routerLink]="['/sing-pages/biz-item']">
        <ion-img src="assets/img/jkys.png"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-col>
  <ion-col *ngFor="let image of imgData ;trackBy:trackByMethod">
    <ion-item lines="none" class="ionItem">
      <!--<img [src]="image.src"/>-->
      <ion-thumbnail slot="start" [routerLink]="['/sing-pages/biz-item']">
        <!--<img [src]="image.src">-->
        <ion-img [src]="image.src"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>H2 Title</h2>
        <p>Button on on</p>
        <ion-checkbox></ion-checkbox>
      </ion-label>
    </ion-item>
  </ion-col>
</ion-row>
<ion-infinite-scroll (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="加载数据中...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
<!--</ion-content>-->
