ion-col {
  //padding: 0px 0px;
  background: #fff;
  padding-bottom: 0;
}

ion-content {
  --ion-background-color: #f0f0f0;
  --ion-item-background: #fff;
}

.ion-color-newcolor {
  --ion-color-base: #fff;
}

ion-list {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  background: #f0f0f0;
  margin: 0px 0;
  padding: 0;
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  margin: 5px 0px;
}

.noBorder {
  display: inline-block;
  --padding-start: 10px;
  --padding-end: 10px;
  --inner-padding-end: 0px;
  margin: 0;
}

.ionThumbnailCategory {
  width: 100%;
  margin: 5px 0px;
  -webkit-margin-end: 10px;
  margin-inline-end: 0px;
}

.ionItem {
  display: inline-block;
  //width: 50%;
  --padding-start: 10px;
  --inner-padding-end: 10px;
  border: 1px #e9e9e9 solid;
  margin-left: 0px;
  border-radius: 3px;
  //width: 170px;
  //height: 108px;
  overflow: hidden;
  margin: 0px;
}

ion-textarea {
  margin-top: 0px;
  --padding-top: 0;
  --padding-bottom: 0;
}
