<ion-content>
  <ion-item color="newcolor" detail lines="none" [routerLink]="['/sing-pages/login']">
    <ion-avatar slot="start" *ngIf="false">
      <img src="./avatar.svg">
    </ion-avatar>
    <ion-icon slot="start" style="font-size: 60px; color: #949494;margin-right: 10px;"
              name="person-circle-outline"></ion-icon>
    <ion-label>
      <h2>登陆/注册</h2>
      <p>dolor sit amet</p>
    </ion-label>
  </ion-item>
  <ion-list>

    <ion-item class="no-ripple" detail [routerLink]="['/sing-pages/orders']">
      <ion-icon slot="start" style="font-size: 30px; color: #3880ff;margin-right: 15px;"
                name="reorder-four-outline"></ion-icon>
      <ion-label>
        <h2>我的订单</h2>
      </ion-label>
    </ion-item>

    <ion-item class="no-ripple" detail [routerLink]="['/sing-pages/services']">
      <ion-icon slot="start" style="font-size: 30px; color: #3880ff;margin-right: 15px;"
                name="albums-outline"></ion-icon>
      <ion-label>
        <h2>执行服务</h2>
      </ion-label>
    </ion-item>

    <ion-item class="no-ripple" detail [routerLink]="['/sing-pages/profile']">
      <ion-icon slot="start" style="font-size: 30px; color: #3880ff;margin-right: 15px;"
                name="person-outline"></ion-icon>
      <ion-label>
        <h2>个人资料</h2>
      </ion-label>
    </ion-item>

    <ion-item class="no-ripple" detail [routerLink]="['/sing-pages/slogo']">
      <ion-icon slot="start" style="font-size: 30px; color: #3880ff;margin-right: 15px;"
                name="help-circle-outline"></ion-icon>
      <ion-label>
        <h2>帮助中心</h2>
      </ion-label>
    </ion-item>

    <ion-item class="no-ripple" detail [routerLink]="['/sing-pages/slogo']">
      <ion-icon slot="start" style="font-size: 30px; color: #3880ff;margin-right: 15px;" name="call-outline"></ion-icon>
      <ion-label>
        <h2>联系我们</h2>
      </ion-label>
    </ion-item>

    <ion-item class="no-ripple" [lines]="'none'" detail [routerLink]="['/sing-pages/slogo']">
      <ion-icon slot="start" style="font-size: 30px; color: #3880ff;margin-right: 15px;"
                name="glasses-outline"></ion-icon>
      <ion-label>
        <h2>免责申明</h2>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
