ion-content{
  --ion-background-color:#f0f0f0;
  --ion-item-background:#fff;
}

ion-col {
  background: #fff;
}
.ion-color-newcolor {
  --ion-color-base: #fff;
  //--ion-color-contrast: #56b4d3;
}
ion-list{
  //--ion-item-background:#fff;
  padding: 0px;
  margin: 10px 0;
}
