<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" [text]="gConst.iconBack.text"></ion-back-button>
    </ion-buttons>
    <ion-title>个人信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--<ion-item color="newcolor" detail lines="none" [routerLink]="['/sing-pages/login']">
    <ion-avatar slot="start" *ngIf="false">
      <img src="./avatar.svg">
    </ion-avatar>
    <ion-icon slot="start" style="font-size: 60px; color: #949494;margin-right: 10px;"
              name="person-circle-outline"></ion-icon>
    <ion-label>
      <h2>登陆/注册</h2>
      <p>dolor sit amet</p>
    </ion-label>
  </ion-item>-->
  <ion-list>

    <ion-item class="no-ripple" detail [routerLink]="['/sing-pages/profile/edit']">
      <ion-label>
        <h2>姓名</h2>
      </ion-label>
      <ion-label slot="end" style="text-align: end;">
        <h2>陈老师</h2>
      </ion-label>
    </ion-item>

    <ion-item class="no-ripple" detail [routerLink]="['/sing-pages/profile/edit']">
      <ion-label>
        <h2>昵称</h2>
      </ion-label>
      <ion-label slot="end" style="text-align: end;">
        <h2>陈老师</h2>
      </ion-label>
    </ion-item>

    <ion-item class="no-ripple" detail [routerLink]="['/sing-pages/profile/edit']">
      <ion-label>
        <h2>手机号</h2>
      </ion-label>
      <ion-label slot="end" style="text-align: end;">
        <h2>陈老师</h2>
      </ion-label>
    </ion-item>

    <ion-item class="no-ripple" detail [routerLink]="['/sing-pages/profile/edit']">
      <ion-label>
        <h2>地址</h2>
      </ion-label>
      <ion-label slot="end" style="text-align: end;">
        <h2>陈老师</h2>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>

