<!--<ion-header [translucent]="true">-->
<ion-header [class.hide-selector]="hideHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" containerTab1 [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-img [src]="slogo.src" [routerLink]="['/sing-pages/slogo']"></ion-img>
  <app-slide></app-slide>
  <app-home></app-home>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle-outline" (click)="scrollToTop()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
