<!--<ion-header [translucent]="true">-->
<!--<ion-header [class.hide-selector]="hideHeaderObj.hideHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true" containerTab1 [scrollEvents]="true"
             (ionScroll)="commonService.onScroll($event,hideHeaderObj)">
  <ion-img [src]="slogo.src" [routerLink]="['/sing-pages/slogo']"></ion-img>
  <ion-col style="display: block;padding: 7px 0;">
    <app-slide></app-slide>
  </ion-col>
  <app-home></app-home>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [class.hide-selector]="!hideHeaderObj.hideHeader">
    <ion-fab-button class="scrollToTopIonFab">
      <ion-icon name="arrow-up-circle-outline" (click)="commonService.scrollToTop('containerTab1')"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
