.ionFab1 {
  --offset-bottom: 30px !important;
  left: 0px;
  bottom: 0px;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-thumbnail {
  width: 70px;
  height: 70px;
  margin-inline-end: 10px;
}


ion-item {
  --padding-start: 3px;
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --background-activated: #fff;
  --background-activated-opacity: 0;
  --background-focused-opacity: 0;
  --background-hover-opacity: 0;
}

.ion-activated {

}


.noBorder {
  display: inline-block;
  --padding-start: 0px;
  --padding-end: 20px;
  --inner-padding-end: 0px;
  margin: 0;
}


ion-checkbox {
  --border-radius: 50%;
  --size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

ion-content {
  --offset-top: 0px !important;
  --padding-top: 0px !important;
}

.buttonCheckout {
  --border-radius: 20px;
}

.quantity {
  --padding-end: 0px;
}

.quantity ion-icon, .quantity ion-input {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  --padding-top: 0px;
  --padding-end: 0px;
  --padding-bottom: 0px;
}

.quantity p {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}
