<ion-header [class.hide-selector]="hideHeaderObj.hideHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" [text]="gConst.iconBack.text"></ion-back-button>
    </ion-buttons>
    <ion-title>biz-item</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" containerTab1 [scrollEvents]="true"
             (ionScroll)="commonService.onScroll($event,hideHeaderObj)">
  <p>
    slide-detail works!
  </p>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="scrollToTopIonFab">
      <ion-icon name="arrow-up-circle-outline" (click)="commonService.scrollToTop('containerTab1')"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
