ion-col {
  //padding: 0px 0px;
  background: #fff;
}

ion-content {
  --ion-background-color: #f0f0f0;
  --ion-item-background: #fff;
}

.ion-color-newcolor {
  --ion-color-base: #fff;
}

ion-list {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  background: #f0f0f0;
  margin: 0px 0;
  padding: 0;
}

ion-thumbnail {
  width: 70px;
  height: 70px;
  margin-inline-end: 10px;
}


ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  margin: 5px 0px 0px 0px;
}


.noBorder {
  display: inline-block;
  --padding-start: 10px;
  --padding-end: 10px;
  --inner-padding-end: 0px;
  margin: 0;
}


.IonItemBottom {
  --padding-start: 0px;
  --inner-padding-end: 10px;
  margin: 0px;
}

.headerInner {

}

.headerInner h2 {
  float: left;
}

.headerInner p {
  float: right;
  margin-right: 10px;
  font-size: 13px
}

/*========*/

.ionCol {
  padding: 0;
  text-align: center;
}

.ionThumbnailCategory {
  width: 100%;
  margin: 5px 0px;
  -webkit-margin-end: 10px;
  margin-inline-end: 0px;
}

.ionItem {
  display: inline-block;
  //width: 50%;
  --padding-start: 10px;
  --inner-padding-end: 10px;
  border: 1px #e9e9e9 solid;
  margin-left: 0px;
  border-radius: 3px;
  //width: 170px;
  //height: 108px;
  overflow: hidden;
  margin: 0px;
}

.quantity {
  --padding-end: 10px;
}

.quantity ion-icon, .quantity ion-input {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  --padding-top: 0px;
  --padding-end: 0px;
  --padding-bottom: 0px;
}

.quantity p {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}

.fixedLabel {
  min-width: 100px !important;
  max-width: 100px !important;
}
